services:
  # --- NODO EDGE 1 ---
  edge-node-1:
    image: ghcr.io/saccolucax2/hyperspark-revived:latest
    container_name: hyperspark-edge-1
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 800M
    environment:
      - NODE_ID=Edge1
      # Forziamo Java a usare 512MB di Heap precisi
      - _JAVA_OPTIONS=-Xmx512m -Xms512m
    restart: on-failure
    volumes:
      - ./edge_results:/app

  # --- NODO EDGE 2 ---
  edge-node-2:
    image: ghcr.io/saccolucax2/hyperspark-revived:latest
    container_name: hyperspark-edge-2
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 800M
    environment:
      - NODE_ID=Edge2
      - _JAVA_OPTIONS=-Xmx512m -Xms512m
    restart: on-failure
    volumes:
      - ./edge_results:/app

  # --- NODO EDGE 3 (Gateway) ---
  edge-node-3:
    image: ghcr.io/saccolucax2/hyperspark-revived:latest
    container_name: hyperspark-edge-3
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    environment:
      - NODE_ID=Edge3
      - _JAVA_OPTIONS=-Xmx800m -Xms800m
    restart: on-failure
    volumes:
      - ./edge_results:/app