name: Cleanup Old Images

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  delete-untagged-versions:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Delete untagged images
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'hyperspark-revived'
          package-type: 'container'
          min-versions-to-keep: 2
          delete-only-untagged-versions: 'true'